{{#extends 'base'}}

{{#block "content"}}
<h1>{{foodRecord.foodRecordName}}</h1>
<ul>
    <li>Calories: {{foodRecord.calories}}</li>
    <li>Tags: {{foodRecord.tags}}</li>
</ul>
<a href="/food/{{foodRecord._id}}/add-note" class="btn btn-primary">Add Note</a>

<h2>Notes</h2>
<ul class="list-group">
{{#each foodRecord.notes}}
    <li class="list-group-item">
        {{this.content}}
    </li>
{{/each}}
</ul>

{{/block}}

{{/extends}}